//break points

@mixin breakpoint1 {
    @media (max-width: 700px) {
        @content;
    }
}


@mixin breakpoint2 {
    @media (max-width: 900px) {
        @content;
    }
}

$breakpoints: '0' 0px 500px, '1' 500px 1024px, '2' 2048px, '3' 1600px, '4' 9999px;


@mixin stubHubContent($breakpoint: 600px) {
	#stubHubContent {
		background-color:white;
		width:$breakpoint;
		.title{
			color:black;
		}
	}
}
