<link href="../styles/css/date-stamp.css" rel="stylesheet">
<span class="demo white">
<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI
    </span>

    <span class="date-stamp-month-dd">
        DEC 1
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-5
    </span>
</div>


<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-15
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC
        <span class="date-extended-day">10-20</span>
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1 - NOV 1
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 - NOV 1 2016
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 2016
    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">

    </span>
</div>

<br/>

<div class="date-stamp-standard date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">
        2016
    </span>
</div>
</span>

<span class="demo black">
<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI
    </span>

    <span class="date-stamp-month-dd">
        DEC 1
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-5
    </span>
</div>


<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-15
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC
        <span class="date-extended-day">10-20</span>
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1 - NOV 1
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 - NOV 1 2016
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 2016
    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">

    </span>
</div>

<br/>

<div class="date-stamp-white date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">
        2016
    </span>
</div>
</span>


<span class="demo black">
<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI
    </span>

    <span class="date-stamp-month-dd">
        DEC 1
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-5
    </span>
</div>


<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-15
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC
        <span class="date-extended-day">10-20</span>
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1 - NOV 1
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 - NOV 1 2016
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 2016
    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">

    </span>
</div>

<br/>

<div class="date-stamp-blue date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">
        2016
    </span>
</div>
</span>


<span class="demo black">
<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI
    </span>

    <span class="date-stamp-month-dd">
        DEC 1
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-5
    </span>
</div>


<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1-15
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC
        <span class="date-extended-day">10-20</span>
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 1 - NOV 1
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 - NOV 1 2016
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        FRI+
    </span>

    <span class="date-stamp-month-dd">
        DEC 31 2016
    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">

    </span>
</div>

<br/>

<div class="date-stamp-green date-container">
    <span class="date-divider-top">

    </span>
    <span class="date-stamp-day">
        TBD
    </span>

    <span class="date-stamp-month-dd">
        2016
    </span>
</div>
</span>