<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../compiled/styles.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/requirejs/require.js"></script>
    <style rel="stylesheet">
        .date-stamp-white:
    </style>
    <title>date-stamp</title>
</head>
<body>
<script type="text/javascript">
    var SH = {};
    requirejs.config({

        paths: {
            baseDir: '../scripts/',
            dust: ['../node_modules/dustjs-linkedin/lib/dust'],
            dateStampView: ['../scripts/views/date-view'],
            dateStamp: ['../scripts/date-stamp'],
            dateStampModel: ['../scripts/models/date-model'],
            templateBundle: ['../compiled/template-bundle'],
            demoData: ['../scripts/mock/demo']
        }
    });
    require([
        'dust',
        'dateStampView',
        'dateStampModel',
        'dateStamp',


    ], function(){
        require(['date-stamp','templateBundle'], function(dateStamp) {




            function newDateBlock(options) {
                var bgColor = options.backgroundColor || 'white',
                        dateDemoContainer = document.createElement('div');
                dateDemoContainer.className = 'dateDemoContainer';
                dateDemoContainer.style.backgroundColor = bgColor;
                dateDemoContainer.style.margin = options.margin || '20px';
                dateDemoContainer.style.width = '150px';
                dateDemoContainer.style.height = '150px';
                dateDemoContainer.style.paddingLeft = '30px';
                dateDemoContainer.style.paddingTop = '30px';
                dateDemoContainer.style.paddingBottom = '60px';
                dateDemoContainer.style.paddingRight = '60px';
                dateDemoContainer.style.float = 'left';
                return dateDemoContainer;
            };

            function DateBlockColumn(backgroundColor) {
                var bgColor = backgroundColor || 'white',
                        dateBlockColumn = document.createElement('div');
                dateBlockColumn.className = 'dateBlockColumn';
                dateBlockColumn.style.backgroundColor = bgColor;
                dateBlockColumn.style.margin = '20px';
                dateBlockColumn.style.width = '100px';

                return dateBlockColumn;
            };




            function renderOne(options){
                var dateData = options || {};

                var demoElement= options.element || newDateBlock({backgroundColor:'black'}),
                        demoData = dateData || {element: demoElement,date:{day:'FRI',month:'DEC 1'}, dateType:'date-stamp-standard date-container'},
                        myDateStamp = {};

                myDateStamp = new dateStamp(demoData);
                myDateStamp.render();
                document.body.appendChild(demoElement);
            };

           // renderOne({element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI',month:'DEC 1'}, dateType:'date-stamp-standard date-container'});

            var themes = [[
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI',month:'DEC 1'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI',month:'DEC 20'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI+',month:'DEC 1 - JAN 1'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI+',month:'DEC 1 - JAN 1 2016'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI+',month:'DEC 20 - JAN 20'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'FRI+',month:'DEC 20 - JAN 20 2016'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'TBD',month:''}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'TBD',month:'2016'}, dateType:'date-stamp-standard date-container'},
                    {element: newDateBlock({backgroundColor:'white'}),date:{day:'TBD',month:'DEC 2016'}, dateType:'date-stamp-standard date-container'},
                ],
                [
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI',month:'DEC 1'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI',month:'DEC 20'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI+',month:'DEC 1 - JAN 1'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI+',month:'DEC 1 - JAN 1 2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI+',month:'DEC 20 - JAN 20'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'FRI+',month:'DEC 20 - JAN 20 2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'TBD',month:''}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'TBD',month:'2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'black'}),date:{day:'TBD',month:'DEC 2016'}, dateType:'date-stamp-white date-container'},
                ],
                [
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI',month:'DEC 1'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI',month:'DEC 20'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI+',month:'DEC 1 - JAN 1'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI+',month:'DEC 1 - JAN 1 2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI+',month:'DEC 20 - JAN 20'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'FRI+',month:'DEC 20 - JAN 20 2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'TBD',month:''}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'TBD',month:'2016'}, dateType:'date-stamp-white date-container'},
                    {element: newDateBlock({backgroundColor:'blue'}),date:{day:'TBD',month:'DEC 2016'}, dateType:'date-stamp-white date-container'},
                ]
            ];
            for(theme in themes){
                var stamps = themes[theme];
                for(stamp in stamps) {
                    renderOne(stamps[stamp]);
                }
            }

        });
    });
</script>
<div class="event"></div>
</body>
</html>


